@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* Reset the font weight of everything so I can decide for each element */
* {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
  --brand-color: green;
  --main-font: 'DM Sans', sans-serif;
  --secondary-font: 'Libre Baskerville', serif;

  --background-color: #272727;
  --font-color: #b3b9c5;
  
 /*
  --primary: #7d87ff;
  --link-color: #fff;
  --border-color: #111;
  --heading-font-color: var(--primary);
  --sidebar-color: #222;
  --navbar-color: #333;
  --sidebar-color-hover: #303030;
  --sidebar-color-focus: #444;
  --category-background-color: #161616;
  --category-background-color-hover: #2a2a2a;
  --light-border-color: #444;
  --toolbar-background-color: #1b1b1b;
  --toolbar-color: #eee;
  --tooltip-border-color: #555;
  --tooltip-background-color: #232323;
  --medium-font-color: #aaa;
  --dark-font-color: #8f949d;
  --bright-font-color: #eee;
  --input-background: #393939;
  --blockquote-background-color: rgba(0,0,0,0.4);
  --blockquote-color: var(--light-font-color);
  --black: #111;
  --inline-code-background-color: rgba(0,0,0,0.2);
  --inline-code-color: #eee;
  --h2-filter: brightness(1);
  --h3-filter: brightness(1.3);
  --h4-filter: brightness(1.5);
  --dark-opacity: rgba(0,0,0,0.2);
  --dark-opacity-hover: rgba(0,0,0,0.3);
  --reverse: #111;
  --scrollbar: var(--border-color);
  --scrollbar-track: var(--light-border-color);
*/
}

html {
  background-color: var(--background-color);
  color: var(--font-color);
  font-family: var(--main-font);
}

/* My favorite CSS trick: give body a nice size and use rem (relative units wherever possible)*/
body {
  /*background-color: black;*/
  

  /*
  line-height: 1.4;
  max-width: 960px;
  padding: 1rem;
  */
  
  /* css horizontal center!!!! */
  margin: 2rem auto;
 
  font: var(--font-color);

}

section {
  /*border: 1px dotted var(--brand-color);*/
  padding: 2rem;
}

header nav {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}


/* baby steps for combining selectors - spaces means find second elem inside first */
nav li {
  display: inline;
  padding: 0;
  padding-left: 1rem;
}

/* Links inside the navbar */
nav a {
/*  float: left; */
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

/* Change background on mouse-over */
nav a:hover {
  background: #ddd;
  color: black;
}


/* Need footer to go to the bottom of its parent! */
/* */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.5rem 0rem 0.5rem 0rem;
  margin: auto;
  
  display: flex;
  justify-content: flex-start;
  align-items: baseline;

  background-color: rgba(51, 51, 51, 1);
}

footer nav {
	width: 75%;
	align-items: center;
	/*border: 1px dotted var(--brand-color);*/
}
footer p {
  /*border: 1px dotted var(--brand-color);*/
}

p {
  max-width: 600px;
  margin: 0 auto;
}

header p {
  width: 100%;
  max-width: 100%;
}

header h1 {
  font-size: 1rem;
}

ul {
  margin-left: 3rem;
  list-style-type: none;
}

/* Margin is the space outside an element */
h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  line-height: 1;
}

h3 {
  font-size: 3.5rem;
  text-align: center;
  margin-top: 1rem;
}

a {
  color: var(--font-color);
  text-decoration: none;
  /* border: 1px solid var(--brand-color); */
  padding: 5px;
}

a:hover {
	color: blue;
}

#avatar{
	display: flex;
	justify-content: center;
	align-items: center;
}

#welcome {
	display: flex;
	justify-content: center;
}

#avatar img {
	border-radius: 50%;
}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

#skills ul {
	display: flex;
	justify-content: center;
}

#skills ul li {
  height: 20px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 1rem;
  margin: 0.1rem;
  width: 33%;
  border: 3px solid gray;
  justify-content: center;
}

#contact ul li {
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */

}

#copyright p {
  text-align: center;
}

/* styles the whole rating div/section */
.rating {
   position: relative;
   width: 180px;
   background: transparent;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: .3em;
   padding: 5px;
   overflow: hidden;
   border-radius: 20px;
   box-shadow: 0 0 2px #b3acac;
}

/* styles the border and number around all the stars */
.rating__result {
   position: absolute;
   top: 0;
   left: 0;
   transform: translateY(-10px) translateX(-5px);
   z-index: -9;
   font: 3em Arial, Helvetica, sans-serif;
   color: #ebebeb8e;
   pointer-events: none;
}

/* styling for each star */
.rating__star {
   font-size: 1.3em;
   cursor: pointer;
   color: #dabd18b2;
   transition: filter linear .3s;
}

/* glows when you hove mouse over */
.rating__star:hover {
   filter: drop-shadow(1px 1px 4px white);
}


/* max-width is for screen with size with max and smaller */
@media only screen and (max-width: 840px) {
  .project-card {
    width: 50%;
  }
}

@media only screen and (max-width: 640px) {
 nav {
   display: flex;
   flex-direction: column;
   float: none;
   display: block;
 }
 nav li {
   padding: 0;
   padding-right: 1rem;
 }
}

@media only screen and (max-width: 500px) {
 html {
   font-size: 16px;
 }
 nav {
   /* what's the difference between display:none vs. visibility:hidden? */
   display: none;
   visibility: hidden;
 }
}



/* for responsiveness, when windows is too small, then just show the icons and not the words */



/* min-width is from screens with size at least min and larger */
/*
@media screen and (min-width: 400px) {
   header, footer {
     display: none;
   }
}
*/